@import 'tailwindcss';

:root {
  --background: #ffffff; /* світлий фон */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme dark {
  --color-background: var(--background) !important ;
  --color-foreground: var(--foreground) !important;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Roboto, sans-serif;
  color-scheme: light !important;
}

/* Адаптивне масштабування SVG */
.responsive-map-wrapper {
  width: 100%;
  height: auto;
}

.responsive-map-wrapper svg {
  width: 100% !important;
  height: auto !important;
  display: block;
}

/* кастомні bullets */
.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 24px;
}

.custom-swiper-pagination .custom-bullet {
  width: 80px;
  height: 4px;
  background-color: #e5e7eb;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-swiper-pagination .custom-bullet.swiper-pagination-bullet-active {
  background-color: #f97316;
  width: 140px;
}

.disabled\:opacity-50 {
  opacity: 0.5;
}
.disabled\:cursor-not-allowed {
  cursor: not-allowed;
}
